.primaryButton{
    background-color: #DA0037;
    padding-block: 0.3rem;
    padding-inline: 2rem;
    font-size: 1.3rem;
    color: #EDEDED;
    font-weight: 400;
    border-radius: 2rem;
    border: none;
    cursor: pointer;

    transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);

    &:hover{
        transform: scale(1.1);
    }

    &:active{
        transform: scale(1);
    }
}